html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.shaked {
    animation: shaked 1s;
    animation-fill-mode: both;
    background: #c30;
}

@keyframes shaked {
    from, to {
      transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
}

.deck .card.open {
    transform: rotateY(0);
    animation: open 0.5s;
    animation-direction: alternate;
    background: #02b3e4;
}

@keyframes open {
    0% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0);
    }
}

.deck .card.close {
    transform: rotateY(0);
    animation: close 0.5s;
    animation-direction: alternate;
    background: #2e3d49;
}

@keyframes close {
    0% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0);
    }
}

.deck .card.show {
    font-size: 33px;
    cursor: default;
}

.deck .card.match {
    animation: match 0.75s;
    animation-fill-mode: both;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

@keyframes match {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(.97, .97, .97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 600px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.score-panel .stars {
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    margin: 0;
    padding: 0;
}

.score-panel .stars-moves {
    width: 150px;
    text-align: left;
}

.score-panel .timer {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Styles for leaderboard
 */

.leaderboard {
    background-color: red;
    width: 660px;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    background: #CCC;
}

.leaderboard .line {
    width: 100%;
    margin-top: 1em;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    align-items: center;
}

.leaderboard .line:last-child {
    margin-bottom: 1em;
}

.leaderboard span,
.leaderboard div {
    flex: 0 0 110px;
}
